.errorPage {
  padding: 20px;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
}

.errorTitle {
  font-size: 40px;
}

.errorLink {
  font-size: 28px;
  color: #3a9ccc;

  &:hover {
    color: #0c61cc;
  }
}

#app {
  position: relative;
}


.loadingIndicator {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 128px;

  & div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 102px;
    height: 102px;
    margin: 12px;
    border: 12px solid;
    border-radius: 50%;
    animation: loadingIndicator 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #222 transparent transparent transparent;
  }
  & div:nth-child(1) {
    animation-delay: -0.45s;
  }
  & div:nth-child(2) {
    animation-delay: -0.3s;
  }
  & div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes loadingIndicator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.server-stats-menu {

}

.server-stats-menu-item {

}

.sidebar-loading-container {
  background-color: unset;

  & > .ant-spin-blur {
  }

  & > .ant-spin-container {
    &:after {
      background-color: #0000;
    }
  }
}

.panelIntro {
  min-height: 120px;
}

.bookMenuContainer {
  .bold {
    font-weight: bold;
    padding-bottom: 10px;
  }

  pre {
    white-space: pre-wrap;
    margin: 0;
  }

  position: relative;
  .bookContentContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    .buttonContainer {
      margin-bottom: 20px;
      position: absolute;
      right: 20px;
      top: 20px;

      .button {
        margin: 5px 5px 5px 0;
      }
    }

    .inputField {
      margin: 5px;
    }

    .section {
      &.content {
        flex: 1 0 auto;
      }

      margin: 10px 10px 10px 0;

      flex: 0 0 auto;

      display: flex;
      flex-direction: column;

      .bold {
        flex: 0 0 auto;
      }
      textarea {
        flex: 1 0 auto;
      }
    }
  }

  .createBookButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;

    .createBookButton {
      flex: 0 1 auto;
    }
    .editCategoriesButton {
      flex: 0 1 auto;
    }
    .refreshButton {
      flex: 0 1 auto;
    }
  }
}

.editableListMenuContainer {
  .bold {
    font-weight: bold;
    padding-bottom: 10px;
  }

  pre {
    white-space: pre-wrap;
    margin: 0;
  }

  position: relative;
  .editableListContentContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    .buttonContainer {
      margin-bottom: 20px;
      position: absolute;
      right: 20px;
      top: 20px;

      .button {
        margin: 5px 5px 5px 0;
      }
    }

    .inputField {
      margin: 5px;
    }

    .section {
      &.content {
        flex: 1 0 auto;
      }

      margin: 10px 10px 10px 0;

      flex: 0 0 auto;

      display: flex;
      flex-direction: column;

      .bold {
        flex: 0 0 auto;
      }
      textarea {
        flex: 1 0 auto;
      }
    }
  }

  .editableListCreateButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;

    .editableListCreateButton {
      flex: 0 1 auto;
    }
    .editCategoriesButton {
      flex: 0 1 auto;
    }
    .refreshButton {
      flex: 0 1 auto;
    }
  }
}

.bookCategoriesMenuContainer {
  .bold {
    font-weight: bold;
    padding-bottom: 10px;
  }

  .bookCategoriesContentContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    .buttonContainer {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      .button {
        flex: 0 1 auto;
      }
    }

    .inputField {
      margin: 5px;
    }
  }

  .createBookCategoriesButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;

    .createBookButton {
      flex: 0 1 auto;
    }

    .refreshButton {
      flex: 0 1 auto;
    }
  }
}